body{
    margin:0px;
    padding:0px;
}
.grid-container{
    width:55%;
    height:700px;
    background-color: rgb(0, 0, 0);
    margin-left: 275px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;

}
.header{
    width:85%;
    height:50px;
    font-size: x-large;
    font-style: italic;
    
}
.header-1{
    margin-left: 350px;
}